{% extends "index.html" %}
{% load staticfiles %}
{% block main-content %}

<div class="container">
		<div class="row centered mt grid">
			<h3>Team:</h3>
			<div class="mt"></div>
			<div class="col-lg-4">
				<a href="#"><img src="{% static 'algotesting/assets/img/05.jpg' %}" alt=""></a>
			</div>
			<div class="col-lg-4">
				<a href="#"><img src="{% static 'algotesting/assets/img/02.jpg' %}" alt=""></a>
			</div>
			<div class="col-lg-4">
				<a href="#"><img src="{% static 'algotesting/assets/img/04.jpg' %}" alt=""></a>
			</div>
		</div>

		<div class="row mt centered">
			<div class="col-lg-7 col-lg-offset-1 mt">
					<p class="lead">Good words and pictures to be added later..</p>
			</div>

		</div>
</div>
<br><br>
{% endblock main-content%}